﻿@{
    ViewData["Title"] = "Index";
}
    <div class="row col-12">
        <!-- START CONTAINER FLUID -->
        <div class="card-body clearfix" style="margin-bottom:-25px; margin-top:-30px;">
            <div class="row">
                <div class="alert alert-success full-width" role="alert">
                    <button class="close" data-dismiss="alert"></button>
                    <strong>Governor's Office: </strong>8 Documents Pending.
                </div>
            </div>
        </div>
    </div>
<!--END CONTAINER FLUID-->
<!-- START GALLERY ITEM -->
    <div class="row col-12">
        <div class="gallery-item col-6" data-width="2" data-height="1">
            <!-- START PREVIEW -->
            <img src="~/site/assets/img/custom/documents.jpg" alt="" class="image-responsive-height">
            <!-- END PREVIEW -->
            <!-- START ITEM OVERLAY DESCRIPTION -->
            <div class="overlayer bottom-left full-width">
                <div class="overlayer-wrapper item-info ">
                    <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                        <div class="">
                            <p class="pull-left bold text-white fs-14 p-t-10">Document Management</p>
                            @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                            <div class="clearfix"></div>
                        </div>
                        <div class="m-t-10">
                            <div class="thumbnail-wrapper d32 circular m-t-5">
                                <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PRODUCT OVERLAY DESCRIPTION -->
        </div>
        <!-- END GALLERY ITEM -->
        <!-- START GALLERY ITEM -->
        <div class="col-6">
            <div class="gallery-item" data-width="2" data-height="1">
                <!-- START PREVIEW -->
                <img src="~/site/assets/img/custom/completeddocument.jpg" alt="" class="image-responsive-height">
                <!-- END PREVIEW -->
                <!-- START ITEM OVERLAY DESCRIPTION -->
                <div class="overlayer bottom-left full-width">
                    <div class="overlayer-wrapper item-info ">
                        <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                            <div class="">
                                <p class="pull-left bold text-white fs-14 p-t-10">Document Timeline</p>
                                @*<h5 class="pull-right semi-bold text-white font-montserrat bold">$25.00</h5>*@
                                <div class="clearfix"></div>
                            </div>
                            <div class="m-t-10">
                                <div class="thumbnail-wrapper d32 circular m-t-5">
                                    <img width="40" height="40" src="~/site/assets/img/profiles/avatar.jpg" data-src="~/site/assets/img/profiles/avatar.jpg" data-src-retina="~/site/assets/img/profiles/avatar2x.jpg" alt="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT OVERLAY DESCRIPTION -->
            </div>
        </div>
    </div>
    <div class="row col-12 full-height">
        <div class="col-md-6 m-b-10">
            <!-- START WIDGET D3 widget_graphTileFlat-->
            <div class="widget-8 card no-border bg-warning no-margin widget-loader-bar">
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="col-xs-height col-top">
                            <div class="card-header  top-left top-right">
                                <div class="card-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">
                                        Pending Documents <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                <i class="card-icon card-icon-refresh"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-xs-height ">
                        <div class="col-xs-height col-top relative">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="p-l-20">
                                        <h3 class="no-margin p-b-5 text-white">12</h3>
                                        <p class="small hint-text m-t-5">
                                            <span class="label  font-montserrat m-r-5">60%</span>Higher
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WIDGET -->
        </div>
        <div class="col-md-6 m-b-10">
            <!-- START WIDGET D3 widget_graphTileFlat-->
            <div class="widget-8 card no-border bg-success no-margin widget-loader-bar">
                <div class="container-xs-height full-height">
                    <div class="row-xs-height">
                        <div class="col-xs-height col-top">
                            <div class="card-header  top-left top-right">
                                <div class="card-title text-black hint-text">
                                    <span class="font-montserrat fs-11 all-caps">
                                        Completed Documents <i class="fa fa-chevron-right"></i>
                                    </span>
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="refresh" class="card-refresh text-black" href="#">
                                                <i class="card-icon card-icon-refresh"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-xs-height ">
                        <div class="col-xs-height col-top relative">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="p-l-20">
                                        <h3 class="no-margin p-b-5 text-white">3</h3>
                                        <p class="small hint-text m-t-5">
                                            <span class="label  font-montserrat m-r-5">60%</span>Higher
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class='widget-8-chart line-chart' data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
                                <svg></svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WIDGET -->
        </div>
    </div>
<div class="row">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-header  separator">
                        <div class="card-title">
                            Draft a Letter
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>
                            <span class="semi-bold">Draft</span> A New Letter
                        </h3>
                        <p>This letter will be created in your office letterhead and can be transferred to the other offices for action.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-header  separator">
                        <div class="card-title">
                            Draft a Memo
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>
                            <span class="semi-bold">Draft</span> A New Memo
                        </h3>
                        <p>This memo will be created in your office letterhead and can be transferred to the other offices for action.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-header  separator">
                        <div class="card-title">
                            Draft a Letter
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>
                            <span class="semi-bold">Draft</span> A New Letter or Memo
                        </h3>
                        <p>This letter or memo will be created in your office letterhead and can be transferred to the other offices for action.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END GALLERY ITEM -->
